<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="Suite" parallel="tests">
  <test name="SYNTC-42 - Monitoring - Take Action Status Functionality">
    <classes>
      <class name="tests.TakeActionStatusFunctionality"/>
    </classes>
  </test>
  <test name="SYNTC-44 - Monitoring - Acton Pending Queue Flow">
  	<classes>
  	  <class name="tests.ActionPendingQueueFlow"/>
  	</classes>
  </test>
</suite> <!-- Suite -->
